@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


#mp_ad_unit_adhesion{
  width: 100%;
  display: flex; 
  justify-content: center; 
}